/*content start*/
.listContent {width:100%;}
.listContent .tbl {width:100%;border-top:1px solid #e0e3e7; border-bottom-color:#686b70;border-left:1px solid #eceef1;border-right:1px solid #eceef1; font-size:13px;}
.listContent .tbl thead{height:40px;background-color: #f7f8fa; border-bottom:1px solid #686b70;}
.listContent .tbl > thead > tr > th{vertical-align:middle;border-right:1px solid #e0e3e7;}
.listContent .tbl > thead > tr > .bLine{border-bottom:1px solid #e0e3e7;}
.listContent .tbl > tbody {overflow: hidden;border-bottom:1px solid #686b70;}
.listContent .tbl > tbody::-webkit-scrollbar {position:absolute;width:10px;background-color: #f7f8fa;}
.listContent .tbl > tbody::-webkit-scrollbar-thumb {background-color:#686b70;}
.listContent .tbl > tbody::-webkit-scrollbar-thumb:hover {background-color:#54565a;}

.listContent .tbl > tbody > tr {border-top:1px solid #e0e3e7;}
.listContent .tbl > tbody > tr:first-child {border-top:0px;}
.listContent .tbl > tbody > tr > td {padding:10px 5px 10px 5px;text-align:center;}
.listContent .tbl > tbody > .trHover:hover{border:1px solid #cd4e65;}

.listContent .tbl > tbody > tr.fail{color:#cc1b3c;font-weight:700; border:2px solid #cc1b3c; height:-4px;}
.listContent .tbl > tbody > tr.fail td{padding:8px 0;}

/*checkbox*/
.listContent .tbl > thead > tr > th > input[type="checkbox"] {display:none;}
.listContent .tbl > thead > tr > th > input[type="checkbox"] + label span{display:inline-block;width:12px;height:12px;vertical-align:middle;margin:12px 12px;border:2px solid #191f28;cursor:pointer;border-radius:2px;background:url(img/check.png) left top no-repeat;}
.listContent .tbl > thead > tr > th > input[type="checkbox"]:checked + label span{background:#191f28 url(../img/check.png) -14px center no-repeat;}

.listContent .tbl > tbody > tr > td > input[type="checkbox"] {display:none;}
.listContent .tbl > tbody > tr > td > input[type="checkbox"] + label span{display:inline-block;width:12px;height:12px;vertical-align:middle;border:2px solid #c3c3c3;cursor:pointer;border-radius:2px;background:url(img/check.png) left top no-repeat;margin-right:10px;}
.listContent .tbl > tbody > tr > td > input[type="checkbox"]:checked + label span{border:2px solid #191f28;background:#191f28 url(../img/check.png) -14px center no-repeat;margin-right:10px;}

.listContent .tbl tfoot {border-bottom:1px solid #686b70;}
.rAlign{text-align:right !important;}
.lAlign{text-align:left !important;}
.cAlign{text-align:center !important;}
/*content end*/


.dotAsset, .dotRisk1{
	background-image:url("/img/analyze/dot1.png");
	background-repeat: no-repeat;
	background-size: 5px 80%;
	background-position:0% 50%;
	padding-left:20px !important;
}
.dotUnknown, .dotRisk2{
	background-image:url("/img/analyze/dot2.png");
	background-repeat: no-repeat;
	background-size: 5px 80%;
	background-position:0% 50%;
	padding-left:20px !important;
}
.dotThreats, .dotExternal, .dotRisk3{
	background-image:url("/img/analyze/dot3.png");
	background-repeat: no-repeat;
	background-size: 5px 80%;
	background-position:0% 50%;
	padding-left:20px !important;
}
.dotMalware, .dotRisk4{
	background-image:url("/img/analyze/dot4.png");
	background-repeat: no-repeat;
	background-size: 5px 80%;
	background-position:0% 50%;
	padding-left:20px !important;
}

/*  white list form   */
#whiteForm {padding:0px 30px 0px 30px;}
#whiteForm > ul {margin:20px 0px 20px 0px;border-bottom:1px solid #000;} 
#whiteForm > ul > li{display: flex;margin-bottom:10px;}
#whiteForm > ul > li > div:nth-child(1) {
	flex-shrink: 0;
	width: 20%;
	text-align:right;
	padding-right:20px;
}
#whiteForm > ul > li > div:nth-child(2) {
	flex-grow: 1;
	text-align:left;
}
#whiteForm > ul > li > div > .frmTxt{width:95%;}
#whiteForm > .btnDiv{text-align:right;}